
@{
    ViewData["Title"] = "Index";
}

<h1>Movimientos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Movimiento</a>
    <a asp-action="VolverAlInicio" class="btn btn-danger">Atrás</a>
</p>

